<!-- app/views/links/edit.html.erb -->
<div class="edit-link-container">
    <h1>Edit Link</h1>

    <%= link_to 'Volver', home_index_path, class: 'back-link'  %>

    <%= render 'form', link: @link %>
</div>