<!-- app/views/errors/404.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Página No Encontrada</title>
  <!-- Añade aquí cualquier otra inclusión de CSS o JS que necesites -->
</head>
<body>
  <h1> HTTP 404 Not Found</h1>
  <p>Lo sentimos, no pudimos encontrar la página que buscabas.</p>
  <%= link_to 'Volver al inicio', root_path %>
</body>
</html>
